{% extends "!layout.html" %}
{% block extrahead %}
    <link href="{{ pathto("_static/width.css", True) }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block footer %} {{ super() }}

<style>
/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
    background: #007833;
}
/* Sidebar */
/* .wy-nav-side {
    background: #000000;
} */
</style>

<script>
var back_bar = document.getElementsByClassName("caption")[0];
back_bar.classList.add("pseudolink_bar");
back_bar.addEventListener("click", gotoOLCF);

function gotoOLCF() {
    window.location.href = 'https://www.olcf.ornl.gov';
}

var back_text = document.getElementsByClassName("caption-text")[0];
back_text.classList.add("pseudolink_text");


</script>

{% endblock %}
