/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.pseudolink_bar {
    background-color: #524e4e !important;
    cursor: pointer !important;
    color: #f2f2f2 !important;

}

.pseudolink_text {
    text-transform: none;
}

p.pseudolink_bar:hover {
    background-color: #757575 !important;

}
